@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", serif;
    background-color: #F7F6FA;
}
a{
    text-decoration: none;
}
/* ========  navbar Area  */
.navbar{
    background-color: #192126;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav_icon i{
    color: #ffffff;
    font-size: 24px;
    margin-left: 18px;
}

/* ======== Banner CSS HERE  */
#banner_area{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 22px 5px 0 5px;
    padding: 18px 15px;
    border-radius: 23px;
    position: relative;
}
.banner_overlay{
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(75deg, rgba(0,0,0,0.7819502801120448) 25%, rgba(0,0,0,0.7315301120448179) 50%, rgba(255,255,255,0) 86%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 23px;
    
}
.banner_area h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    position: relative;
    z-index: 99;
}
.banner_area h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: #BBF246;
    position: relative;
    margin-top: 16px;
    z-index: 99;
}
.banner_form input{
    position: relative;
    z-index: 99;
    margin-right: 10px;
    border-radius: 12px;
    margin-top: 15px;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0 rgba(40, 69, 112, 0.25);
}
#banner_bottom h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #192126;
    margin-top: 20px;
}
#banner_bottom p{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #192126;
    margin-top: 20px;
}
.sch_text .sch_text_title1{
    border-right: 1px solid #5A5A5C;
    border-bottom: 1px solid #5A5A5C;
}
.sch_text .sch_text_title2{
    border-bottom: 1px solid #5A5A5C;
}
.sch_text .sch_text_title3{
    border-right: 1px solid #5A5A5C;
}
.sch_text{
    margin-top: 20px;
    background-color: #E4E3E9;
    border-radius: 23px;
}
.sch_text h3{
    margin: 0;
    margin-top: 0 !important;
    padding: 20px 0;
    color: #58585A;
    font-size: 18px;
    font-weight: 700;
}
.sch_text h3 a{
    color: #58585A;
    font-size: 18px;
    font-weight: 700;
}
.league_table_title{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #192126;
    margin-top: 20px;
}
.league_tb table{
    width: 100%;
    text-align: center;
    color: #192126;
    background-color: #ffffff;
}
.league_tb .tb_header{
    width: 100%;
    background-color: #BBF246;
    border-radius: 23px;
    color: #192126;
}
.league_tb .tb_header th{
    padding: 8px 0px;
}
.clickable-row {
    cursor: pointer;
    margin: 8px 0px !important;
}
.clickable-row td{
    padding: 4px 0px !important;
}
.clickable-row:hover{
   background-color: #bcf24621;
}
.row_id{
    color: #0D99FF;
}
.league_tb{
    background-color: #192126;
    padding: 3px;
}
.weeks_number a{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #192126;
    padding: 10px 8px;
    background-color: #BCF14782;
    border-radius: 12px;
}
.weeks_number a.weeks_num_dis{
 opacity: .4;
 pointer-events: auto;
}
.weeks_table_header{
    background-color: #E6E6E6;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    padding: 5px;
}
.right_scrollable{
    background-color: #E6E6E6;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    padding: 5px;
}
.weeks_table_header p{
    background-color: #BBF246;
    color: #192126;
    font-weight: 700;
    border-radius: 4px;
}
.right_scrollable p{
    background-color: #BBF246;
    color: #192126;
    font-weight: 700;
    border-radius: 4px;
}
.weeks_table_header span{
    color: #192126;
    font-weight: 700;
}
.right_scrollable span{
    color: #192126;
    font-weight: 700;
}
.weeks_table_header i{
    color: #192126;
    font-weight: 700;
    background-color: #BBF246;
    padding: 5px 12px;
    border-radius: 5px;
}
.right_scrollable i{
    color: #192126;
    font-weight: 700;
    background-color: #BBF246;
    padding: 5px 12px;
    border-radius: 5px;
}
.kela_list_table tr{
    font-size: 12px;
    padding: 4px;
    color: #192126;
}
.kela_list_table tr{
    border-bottom: 1px solid #58585a86;
}
.kela_list_table tr:hover{
    background-color: #bcf2463a;
    border-bottom: 1px solid #58585a86;
}
.bg_darkk{
    background-color: #E6E6E6;
    font-weight: 800;
    margin-bottom: 0px;
}
.league_table_titlee{
    font-size: 14px;
    font-weight: 500;
    line-height: 8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #192126;
    background-color: #BCF14782;
    padding: 10px;
    border-radius: 12px;
}
footer{
    background-color: #192126;
    padding: 10px;
    margin-top: 10px;
}
footer a{
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-align: center;
    display: block;
}